# Data Science Tools and Ecosystem

in this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- list languages used in DS
- list libraries used in DS
- list open source environments used in DS
- show arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. ggplot
3. plotly
4. NumPy

|Data Science Tools|
|------------------|
|VScode|
|RStudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in python

3+5\
3-5\
3*5\
3/5

In [1]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Basel